.profile__edit_button {
    width: 24px;
    height: 24px;
    border: solid 1px #FFFFFF;
    margin-left: 18px;
    background-image: url(../../../images/edit_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    cursor: pointer;
    transition: opacity 0.3s linear;
    box-sizing: border-box;
}

.profile__edit_button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
    .profile__edit_button {
        margin-left: 10px;
    }
}