.profile__info {
    max-width: 336px;
    margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
    .profile__info {
        margin: auto;
        margin-top: 26px;
        margin-bottom: 36px;
        max-width: 225px;
        text-align: center;
    }
}