.profile__user-name {
    font-family: 'Inter', 'Helvetica', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
    .profile__user-name {
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (min-width: 320px) and (max-width: 581px) {
    .profile__user-name {
        max-width: 189px;
    }
}