.footer {
    max-width: 880px;
    margin: 69px auto 0 auto;
    padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
    .footer {
        margin: 48px 19px 0 19px;
        padding-bottom: 36px;
    }
}